
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>身分證字號合法性驗證</title>
    <style>
        .con{
            width:1000px;
            margin:auto;
        }

    </style>
</head>
<body>
    <div class="con"> 
        <form action="@Url.Action("Hw")" method="post">
            <input name="id" type="text" />
            <input id="Submit1" type="submit" value="送出" />
        </form>


        @{ 
            <h2>@ViewBag.Result</h2>
        }
    </div>
</body>
</html>
